{%extends "layout.njk"%}
    
    {% block head %}
        <title>Portfolio Emanuel</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

    {% endblock head %}

    {%block content %}

    <div id = "wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
    {%for item in items %}
        <section class="card" id = "{{item.id}}">
            <div class="card-img-container {{ 'featured-wrapper' if item.featured }}">
                <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" 
                    alt="Imagem de {{item.title}}">
                    {%if item.featured%}
                        <div class="featured">Featured</div>
                    {%endif%}
            </div> 
            <div class="content">
                <p> {{item.title}}</p>
            </div>
            <div class="card-info">
                <p class='{{item.description}}'>Rocketseat
                <p class='{{item.coast}}'>Grátis
            </div>
        </section>   
    {%endfor%}
    </section>

    <script src="/scripts.js"></script>

    {% endblock content %}

    