{%extends "layout.njk"%}
    
    {% block head %}
        <title>Portfolio Emanuel</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

    {% endblock head %}

    {%block content %}

    <div id = "wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
    {%for item in items %}
        <section class="card" id = "{{item.id}}">
            <div class="card-img-container">
                <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" 
                    alt="Imagem de {{item.title}}">
            </div> 
            <div class="content">
                <p> '{{item.title}}'</p>
            </div>
            <div class="card-info">
                <p class='{{item.description}}'>Rocketseat
                <p class='{{item.coast}}'>Grátis
            </div>
        </section>   
    {%endfor%}
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>

    {% endblock content %}

    