{%extends "layout.njk"%}

{% block content %}

  <form class="card" method="POST" action="/instructors">
    <section class="avatar" style="background: url('https://source.unsplash.com/collection/4782235/900x900') no-repeat center / cover"></section>
    <section class="details">

      <h3>Novo Instrutor</h3>

      <div class="item">
        <div class="instructor">Avatar URL</div>
        <div class="instructor-name">
          <input 
            type="url"
            name="avatar_url"
            placeholder="http://">
        </div>
      </div>

      <div class="item">
        <div class="instructor">Instrutor (a)</div>
        <div class="instructor-name">
          <input 
            type="name"
            
            placeholder="Nome do Instrutor(a)">
        </div>
      </div>

      <div class="item">
        <div >Data de Nascimento</div>
        <div >
          <input 
          type="date" 
          name="birth">
        </div>
      </div>

      <div class="item">
        <div>Sexo</div>
        <div class="gender">
          <span><input type="radio" name="gender" value="M">Masculino</span>
          <span><input type="radio" name="gender" value="F">Feminino</span>
        </div>
      </div>

      <div class="item">
        <div>Área de Atuação</div>
        <div>
          <input 
            type="text" 
            name="services"
            placeholder="Separe as especialidades por vírgula">
        </div>
      </div>

      <button type="submit" >Salvar</button>

    </section>
  </form>

{% endblock content %}