{% extends "layout.njk" %}

{% block head %}
    <title>{{course.title}}</title>
{% endblock %}

{% block content %}
    <h1>Conteúdos</h1>
    <main class="courses-grid">
        <div class="card course">
            <h2><img src="{{course.img}}" alt="{{course.title}}" class="logo-img"/></h2>
            <div class="course-info">
                <p>{{course.duration}}</p>
                <p>{{course.price}}</p>
            </div>
            <a href="{{course.url}}">Acessar</a>
        </div>
    </main>
{% endblock %}