*{
  font-family: "Roboto";
  letter-spacing: 1px;
}
.row-header {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  margin-left: 7.5%;
}

.img-header {
  max-width: 100%;
  height: auto;
  margin: 35px 0px;
}

header .logo {
  width: 94px;
}

header .menu {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 0;
}

header .menu a {
  margin-left: 30px;
  color: #111;
  text-decoration: none;
  transition: 0.3s all ease-in;
}

header .menu a:hover {
  color: #c79188;
}

.img-fluid-cheff img{
  position: relative;
}


.image-fluid {
  width: 85%; 
  height: 320px;
  background: #fbdfdb;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.melhores-receitas .melhores-receitas__texto {
  flex-direction: column-reverse;
  width: 32%;
  display: flex;
  justify-content: center;
}

melhores-receitas .melhores-receitas__texto h2 {
  font-weight: bold;
  font-size: 32px;
  color: #111111;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.melhores-receitas .melhores-receitas__texto p {
  line-height: 28px;
  color: rgb(17, 17, 17, 0.7);
}
