:root{
    --color-white:rgb(226, 226, 226);
    --color-orange:rgb(252, 165, 4);
    --color-dark:#1f1f1f;
}

*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}
body{
    background:var(--color-dark)
}
header {
    padding: 32px;
    border-bottom: 1px solid rgb(85, 85, 85);
    background: rgba(0,0,0,0,);
}

.links {
    text-align: center;
}

.links a {
    color: var(--color-white);
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color:var(--color-orange);
    transition: 500ms;
}

#wrapper{
    text-align: center;
    padding: 32px;
}

#wrapper img{
    border-radius: 8px 100px;
    border: solid  var(--color-orange);
    margin-bottom: 32px;
    height: 300px;
}

#wrapper h1{
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;

    margin-bottom: 12px;

    color: var(--color-white);
}

#wrapper h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;

    margin-bottom: 30px;

    color: var(--color-white);
    opacity: 0.5;
}

#wrapper p{
    color: var(--color-white);
    opacity: 0.5;
    
    max-width: 300px;
    margin:12px auto;

    font-size: 18px;
    line-height: 24px;
    
}

#wrapper p a {
    font-weight: bold;
    color:rgb(210, 221, 221);
}

#wrapper p a:hover {
    color: rgb(252, 165, 4);
    transition: 250ms;
}

#links-footer a{
    
    border-bottom: 2px solid var(--color-orange);
}

/* Cards */

.cards{
    max-width: 800px;
    margin: 0  auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.card{
    display: grid;
    background-color: #181515;
    border-radius: 7px;
    border: 1px solid rgb(85, 85, 85);
    cursor: pointer;

}
.card-img-container img{
    width: 100%;
    cursor: pointer;
}

.content{
    padding: 24px;
    color: var(--color-white);
    padding: 24px;
    color: var(--color-white);
    line-height: 1.5;
}
.card-info {
    padding: 24px;
    text-align: end;
    color: var(--color-white);
}

.card-info{ /*divide o template em colunas */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-info .coast{
    background-color:var(--color-dark);
    filter: brightness(85%);   
    
    padding: 5px 20px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.card-info .description{
    background-color:var(--color-dark);
    filter: brightness(85%);   
    
    padding: 5px 20px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}

/*MODAL*/

.modal-overlay{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    opacity: 0%;
    visibility: hidden;
}

.modal{
    background-color: var(--color-white);
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    
}

.modal-overlay.active{ 
    opacity: 1;
    visibility: visible;
}

iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top:5%
}
.featured-wrapper.card-img-container{
    position: relative;
}
.featured {
    position: absolute;
    text-align: center;
    width: auto;
    height: 18px;
    border-radius: 14px;
    color: var(--color-white);
    background-color: var(--color-orange);
    padding: 7px;
    top: -18px;
    right: 1px;
}

/*VIDEO PAGE*/
.video{
    margin: 0 auto;
    max-width: 800px;
    
}

.card-video-container{
    position: relative;
    padding-top: 48%;
}
.card-video-container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0
}