:root{
    --color-white:rgb(226, 226, 226);
    --color-launchbase:rgb(253, 149, 31);
    --color-dark:#1f1f1f;
    --color-starter:#7159c1;
    --color-gostack:#04d361
}
body {
    background-color: var(--color-dark);
}

.mainbox {
    
    background-color: var(--color-dark);
    margin: 310px auto ;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: var(--color-launchbase);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: var(--color-starter);
}

.err2 {
    color: var(--color-gostack);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    color: var(--color-white);
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

a {
    text-decoration: none;
    color: var(--color-starter);
}

a:hover {
    text-decoration: underline;
}