<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro Servidor</title>

    <link rel="icon" href="/img/favicon.ico" type="favicon.ico" />
    <link rel="stylesheet" href="courses.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

</head>
<body>
    
    <header>
        <div>
    
            <p>
            <a href='/home'>Home</a>
            <a href='/about'>Sobre</a>
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <p>
                
                    <section class="cards">
                        <section id="starter" class="card">
                            <div id="number">01 </div>
                            <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Starter">
                                        <div class="description">
                                            <h3>Torne-se um programador desejado no mercado com esses cursos gratuitos</h3>
                                        </div>
                                        <div class="info">
                                            <h3 class ="modules"> 5 módulos </h3>
                                            <h3 class ="coast">Free</h3>
                                        </div>
                        </section>

                        <section class="card" id="launchbase">
                            <div id="number">02 </div>
                            <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="Launchbase">
                                        <div class="description">
                                            <h3>Domine a programação do zero e tenha acesso às melhores oportunidade do mercado</h3>
                                        </div>
                                        <div class="info">
                                            <h3 class ="modules">16 módulos</h3>
                                            <h3 class ="coast">R$ Pago</h3>
                                        </div>
                        </section>

                        <section id="gostack" class="card">
                            <div id="number">03 </div>
                            <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="Gostack">
                                        <div class="description">
                                            <h3>Treinamento imersivo nas tecnologias mais modernas de desenvolvimento</h3>
                                        </div>
                                        <div class="info">
                                            <h3 class ="modules">13 módulos</h3>
                                            <h3 class ="coast">R$ Pago</h3>
                                        </div>
                        </section>
                    </section>
                
                <div id= "links-footer" class='links'>
                    <a href="https://www.instagram.com/rocketseat_oficial/?hl=en" target="_blank"> Instagram </a>
                    <a href="https://github.com/Rocketseat" target="_blank"> Github </a>
                    <a href="https://www.linkedin.com/school/rocketseat/?originalSubdomain=br" target="_blank"> LinkedIn </a>
                </div>
                
        </div>
    </header>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div> 
    
    
    <script src="/public/script.js"></script>

    
</body>
</html>