{%extends "layout.njk"%}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Primeiro Servidor</title>

        <link rel="icon" href="/img/favicon.ico" type="favicon.ico"/>
        <link rel="stylesheet" href="home.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
{% endblock head %}
{% block content %}
    <section class="cards">
        <h1>Rocketseat</h1>
        <h3>
            Embarque nesse foguete utilizando as melhores tecnologias</h3>
        <img src="https://rocketseat.com.br/static/images/bootcamp/logo-gostack.svg" alt="">
    </section>
{% endblock content %}