
{% block links-header %}
    <p>
        <a href='sobre.html'>Sobre</a>
        <a href="courses.html">Cursos</a>
        <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
    <p>
{% endblock links-header %}

        {% block links-footer %}
            <div id="links-footer" class='links'>
                <a href="https://www.instagram.com/rocketseat_oficial/?hl=en" target="_blank">
                    Instagram
                </a>
                <a href="https://github.com/Rocketseat" target="_blank">
                    Github
                </a>
                <a href="https://www.linkedin.com/school/rocketseat/?originalSubdomain=br" target="_blank">
                    LinkedIn
                </a>
            </div>
        {% endblock links-footer %}