{%extends "layout.njk"%}

  {% block main %}
<link rel="stylesheet" href="/home.css">

    <!-- INICIO MAIN -->
    <main>
        <div class='container'>
            <!-- INICIO MELHORES RECEITAS -->
            <section>
                <div class='melhores-receitas'>
                    <div class="melhores-receitas__texto">
                        <span>
                            <h2>As Melhores Receitas</h2>
                            <p class="tagline">
                                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                            </p>
                        </span>
                    </div>
                    <!-- /melhores-receitas__texto -->

                    <div class="melhores-receitas__chefe">
                        <img class="img-fluid" src="../assets/chef.png" alt="Chefe">
                    </div>
                </div>
                <!-- /melhores-receitas -->
            </section>
            <!-- FIM MELHORES RECEITAS -->

            <!-- INICIO MAIS ACESSADAS -->

            <!-- INICIO MAIS ACESSADAS -->
        <link rel="stylesheet" href="/receitas.css">
        <!-- INICIO MAIN -->
        <main>
            <div class='container'>

                <!-- INICIO MAIS ACESSADAS -->
                <section>
                    <div class='mais-acessadas'>
                        <h2></h2>

                        <div class='row-card'>
                            
                            {%for item in items%}
                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="{{item.image}}" alt="{{item.title}}"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">{{item.title}}</p>
                                <p class="autor">{{item.author}}</p>
                            </div>
                            {%endfor%}
                            <!-- /mais-acessadas__card -->


                            <!-- /mais-acessadas__card -->

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /mais-acessadas -->
                </section>
                <!-- FIM MAIS ACESSADAS -->
            </div>
            <!-- /container -->
            {# <script src="./script.js"></script> #}
        {% endblock main %}
        