{%extends "layout.njk"%}

{% block main %}
<link rel="stylesheet" href="/home.css">

    <!-- INICIO MAIN -->
    <main>
        <div class='container'>
            <!-- INICIO MELHORES RECEITAS -->
            <section>
                <div class='melhores-receitas'>
                    <div class="melhores-receitas__texto">
                        <span>
                            <h2>As Melhores Receitas</h2>
                            <p class="tagline">
                                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                            </p>
                        </span>
                    </div>
                    <!-- /melhores-receitas__texto -->

                    <div class="melhores-receitas__chefe">
                        <img class="img-fluid" src="../assets/chef.png" alt="Chefe">
                    </div>
                </div>
                <!-- /melhores-receitas -->
            </section>
            <!-- FIM MELHORES RECEITAS -->

            <!-- INICIO MAIS ACESSADAS -->
            <section>
                <div class='mais-acessadas'>
                    <h2>Mais Acessadas</h2>

                    <div class='row-cards'>
                        <div class="mais-acessadas__card">
                            <div class="thumbnail">
                                <img src="../assets/burger.png" alt="lanche"/>
                            </div>
                            <!-- /thumbnail -->

                            <p class="nome">Triplo Burger Bacon</p>
                            <p class="autor">por Cheff Jeff</p>
                        </div>
                        <!-- /mais-acessadas__card -->

                        <div class="mais-acessadas__card">
                            <div class="thumbnail">
                                <img src="./assets/pizza.png" alt="pizza"/>
                            </div>
                            <!-- /thumbnail -->

                            <p class="nome">Pizza de Frango</p>
                            <p class="autor">por cheff Jeff</p>
                        </div>
                        <!-- /mais-acessadas__card -->

                        <div class="mais-acessadas__card">
                            <div class="thumbnail">
                                <img src="./assets/espaguete.png" alt="espaguete"/>
                            </div>
                            <!-- /thumbnail -->

                            <p class="nome">Espaguete</p>
                            <p class="autor">por cheff Jeff</p>
                        </div>
                        <!-- /mais-acessadas__card -->

                        <div class="mais-acessadas__card">
                            <div class="thumbnail">
                                <img src="./assets/pizza.png" alt="pizza"/>
                            </div>
                            <!-- /thumbnail -->

                            <p class="nome">Pizza de Frango</p>
                            <p class="autor">por cheff Jeff</p>
                        </div>
                        <!-- /mais-acessadas__card -->

                        <div class="mais-acessadas__card">
                            <div class="thumbnail">
                                <img src="./assets/espaguete.png" alt="espaguete"/>
                            </div>
                            <!-- /thumbnail -->

                            <p class="nome">Espaguete</p>
                            <p class="autor">por cheff Jeff</p>
                        </div>
                        <!-- /mais-acessadas__card -->

                    </div>
                    <!-- /row -->
                </div>
                <!-- /mais-acessadas -->
            </section>
            <!-- FIM MAIS ACESSADAS -->
        </div>
        <!-- /container -->
    {% endblock main %}