

{%extends "layout.njk"%}

        {% block main %}
        <link rel="stylesheet" href="/receitas.css">
        <!-- INICIO MAIN -->
        <main>
            <div class='container'>

                <!-- INICIO MAIS ACESSADAS -->
                <section>
                    <div class='mais-acessadas'>
                        <h2></h2>

                        <div class='row-card'>
                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/burger.png" alt="burger"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Triplo Burger Bacon</p>
                                <p class="autor">por Cheff Jeff</p>
                            </div>
                            <!-- /mais-acessadas__card -->

                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/burger.png" alt="burger"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Triplo Burger Bacon</p>
                                <p class="autor">por Cheff Jeff</p>
                            </div>
                            <!-- /mais-acessadas__card -->

                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/burger.png" alt="burger"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Triplo Burger Bacon</p>
                                <p class="autor">por Cheff Jeff</p>
                            </div>
                            <!-- /mais-acessadas__card -->

                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/burger.png" alt="burger"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Triplo Burger Bacon</p>
                                <p class="autor">por Cheff Jeff</p>
                            </div>
                            <!-- /mais-acessadas__card -->

                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/burger.png" alt="burger"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Triplo Burger Bacon</p>
                                <p class="autor">por Cheff Jeff</p>
                            </div>
                            <!-- /mais-acessadas__card -->

                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/pizza.png" alt="pizza"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Pizza de Frango</p>
                                <p class="autor">por cheff Jeff</p>
                            </div>
                            <!-- /mais-acessadas__card -->

                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/espaguete.png" alt="espaguete"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Espaguete</p>
                                <p class="autor">por cheff Jeff</p>
                            </div>
                            <!-- /mais-acessadas__card -->

                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/pizza.png" alt="pizza"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Pizza de Frango</p>
                                <p class="autor">por cheff Jeff</p>
                            </div>
                            <!-- /mais-acessadas__card -->

                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="./assets/espaguete.png" alt="espaguete"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">Espaguete</p>
                                <p class="autor">por cheff Jeff</p>
                            </div>

                            <!-- /mais-acessadas__card -->

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /mais-acessadas -->
                </section>
                <!-- FIM MAIS ACESSADAS -->
            </div>
            <!-- /container -->
        {% endblock main %}
        

