

{%extends "layout.njk"%}

        {% block main %}
        <link rel="stylesheet" href="/receitas.css">
        <!-- INICIO MAIN -->
        <main>
            <div class='container'>

                <!-- INICIO MAIS ACESSADAS -->
                <section>
                    <div class='mais-acessadas'>
                        <h2></h2>

                        <div class='row-card'>
                            
                            {%for item in items%}
                            <div class="mais-acessadas__card">
                                <div class="thumbnail">
                                    <img src="{{item.image}}" alt="{{item.title}}"/>
                                </div>
                                <!-- /thumbnail -->

                                <p class="nome">{{item.title}}</p>
                                <p class="autor">{{item.author}}</p>
                            </div>
                            {%endfor%}
                            <!-- /mais-acessadas__card -->


                            <!-- /mais-acessadas__card -->

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /mais-acessadas -->
                </section>
                <!-- FIM MAIS ACESSADAS -->
            </div>
            <!-- /container -->
            <script src="./script.js"></script>
        {% endblock main %}
        

