{%extends "layout.njk"%}

{% block main %}
  <link rel="stylesheet" href="/receita.css">

  <!-- INICIO MAIN -->
  <main>
    
    <section>
        <div class='receita'>
          <img class="img-fluid" src="" alt="receita">
        </div>
        
        <div class="receita-titulo"></div>
        </div>

        <div class="receita-autor"></div>
        </div>
    </section>

    <!-- INICIO RECEITA -->
    <section>
      <div class='ingredientes'>
        
        <ul>

          <h3>Ingredientes</h3>
            <li><span> asdfasdf</span></li>

          <h3>Modo de Preparo</h3>
            <span> asdfasdf</span>

          <h3>Informações Adicionais</h3>
            <span>asdfasdf </span>

        </ul>
      </div>
    </section>
    <!--FIM RECEITA-->
  </main>
      
 

 
{% endblock main %}