{%extends "layout.njk"%}

{% block main %}
  <link rel="stylesheet" href="/receita.css">

  <!-- INICIO MAIN -->
  <main>
    <div class='container'>
      <!-- INICIO MELHORES RECEITAS -->
      <section>
        <div class='melhores-receitas'>

          <!-- /melhores-receitas__texto -->

          <div class="melhores-receitas__chefe">
            <img class="img-fluid" src="" alt="receita">
          </div>
          <div class="melhores-receitas__texto">
            
          </div>
        </div>
        <!-- /melhores-receitas -->
      </section>
      <!-- FIM MELHORES RECEITAS -->

      <!-- INICIO MAIS ACESSADAS -->
      <section>
       <div class='mais-acessadas'>
          <h2>Mais Acessadas</h2>

        
          <!-- /row -->
        </div>
        <!-- /mais-acessadas -->
      </section>
      <!-- FIM MAIS ACESSADAS -->
    </div>
    <!-- /container -->
  {% endblock main %}