{%extends "layout.njk"%}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Primeiro Servidor</title>

        <link rel="icon" href="/img/favicon.ico" type="favicon.ico"/>
        <link rel="stylesheet" href="about.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
{% endblock head %}

{% block content %}
    <section class="cards">

        <div id="number">JS
        </div>
        <img src="{{about.src}}">
        <div class="description">
            <h3>{{about.h3}}</h3>
        </div>
        <div class="info">
            <h3 class="modules">{{about.modules}}</h3>
            <h3 class="coast">{{about.coast}}</h3>
        </div>
    </div>

</section>

{% endblock content %}